body{
    background-color: #95bd9d;
}
label{
    padding:20px 20px;
}

.error{
    width:auto;
    background-color: #ffe5c7;
    margin:10px;
}

form{
    display:table;
}
label{
    display:table-row;

}
span{
    display:table-cell;
    height:30px;
    margin:10px;
}
input{
    display:table-cell;
    height:30px;
    margin:10px;
}


#s, #authorization, #create_account,#clear{
    min-height: 20px;
    width: auto;
    border-radius: 5px;
    background-color: white;
}
#table_conteiner{
    width: auto;
    background-color: #aa8f46;
    min-height: 100px;
    margin:20px;
}
#a_res{
    width: auto;
    background-color: #aa8f46;
    min-height: 100px;
    margin:20px;
}

td{
    padding: 20px;
}