html, body{
    margin: 0;
    padding: 0;
    width: 1000px;
    height: 1000px;

}
div{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #c4defa;
}
.element1{
    top: 20px;
    left: 20px;
}
.element2{
    top: 220px;
    left: 220px;
}
.element3{
    top: 376px;
    left: 453px;
}
.element4{
    top: 777px;
    left: 888px;
}
