#myDiv{
    border:1px solid black;
    border-radius: 10px;
    background-color: aqua;
    min-height: 100px;
    padding: 20px;
    margin:10px;
}

/*new_div{*/
    /*border:1px solid black;*/
    /*border-radius: 10px;*/
    /*background-color: #9fffd4;*/
    /*padding: 20px;*/
    /**/
/*}*/