
header{
    margin:auto;
    text-align: center;
}
button{
    width:100px;
    height:30px;
    background-color: #8cf1af;
    text-align: center;
    border-radius: 10px;
    border:1px solid black;
}
.number{
position:relative;
    top:35px;
    left:2px;

}
#p,#month,#n{
    display:inline-block;
    padding: 20px;
}
#month{
    width:200px;
}
#wr{
    min-height: 500px;
    padding-left: 100px;
    padding-right: 100px;
}
.myTable{
    border-collapse: collapse;
    border: 2px solid grey;
}
.tableCaption{
    background-color:silver;
}
.captionTr{
    width: 200px;
    border: 2px solid gray;
    text-align: center;
    background-color: #98aaa4;
}
.bodyRow{
    text-align: right;
}
.bodyTd{
    height:100px;
    width:100px;
    background-color: white;
    text-align: left;
    border: 2px solid grey;
}
.active{
    background-color: lightgray;
}

.circle{
    width:50px;
    height:50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border:1px solid black;
    background-color: #8cf1af;
    color:white;
    position: relative;
    top:-50px;
    left:1200px;
    font-size: 40px;
}


#id_wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:2px solid black;
    border-radius: 10px;
    padding: 60px;
    display:none;
    background-color: #8cf1af;
    color:black;

}

.shadow{
    /*background-color: lightgray;*/
    display: none;
}

td{
    padding: 10px;
}
#addEvent{
    background-color: white;
    border-radius: 50%;
    width:40px;
    height:40px;
    position:relative;
    top:40px;
    left: 320px;
}

