body{
    background-color: antiquewhite;
    height:400px;
}
#fly{
    width:30px;
    height:30px;
    border:1px solid black;
    background-color: aqua;
    border-radius: 50%;
    text-align: center;
    position:absolute;
    top:20px;
    left:20px;
}