.conteiner{
    width:auto;
    height:450px;
}
.box{
    width:200px;
    height:400px;
    border:1px solid black;
    background-color: aqua;
    display:inline-block;
    vertical-align: bottom;
    text-align: center;
}

.manageBox{
    width: 90px;
}

.but{
    height:200px;
    text-align: center;
}


.but1{
    padding-top: 80px;
}
ul{
    list-style:none;
    margin:0;
    padding:0;
}
li{
    height:50px;
    width:178px;
    border: 1px solid darkslategrey;
    border-radius: 10px;
    padding-left:10px;
    padding-right: 10px;
    background-color: aliceblue;
}

.active {
    background-color: #f00;
}