
header{
    margin:auto;
    text-align: center;
}
button{
    width:100px;
    height:30px;
    background-color: #3baae3;
    text-align: center;
    border-radius: 10px;
    border:1px solid black;
}
.number{
    position:relative;
    top:35px;
    left:2px;
    font-size: 10px;
}
#p,#month,#n{
    display:inline-block;
    padding: 20px;
}
#month{
    width:200px;
}
#wr{
    min-height: 500px;
    padding-left: 100px;
    padding-right: 100px;
}
.myTable{
    border-collapse: collapse;
    border: 2px solid #205a80;
}
.tableCaption{
    background-color: #3baae3;
}
.captionTr{
    width: 200px;
    border: 2px solid gray;
    text-align: center;
    background-color: #3baae3;
}
.bodyRow{
    text-align: right;
}
.bodyTd{
    height:120px;
    width:100px;
    background-color: white;
    text-align: left;
    border: 2px solid grey;
}
.active{
    background-color: lightgray;
}

.circle{
    width:50px;
    height:50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border:1px solid black;
    background-color: #3baae3;
    color:white;
    position: relative;
    top:10px;
    left:400px;
    font-size: 40px;
}


#id_wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border:2px solid black;
    border-radius: 10px;
    padding: 60px;
    display:none;
    background-color: #3baae3;
    color:black;

}

.shadow{
    /*background-color: lightgray;*/
    display: none;
}

.formTd{
    padding: 10px;
}


.eventDiv0{
    position:relative;
    top:-45px;
    left:0px;
    background-color:#3baae3;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid black;
    margin: 3px 3px;
}
.eventDiv1{
    position:relative;
    top:-10px;
    left:0px;
    background-color:#3baae3;
    height: 20px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    margin: 3px 3px;
}

.eventDiv2{
    position:relative;
    top: -10px;
    left:0px;
    background-color:#3baae3;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid black;
    margin: 3px 3px;
}

.wid_1{
    width:100%;
}
.wid_2{
    width: 200%;
}
.wid_3{
    width: 300%;
}
.wid_4{
    width: 400%;
}
.wid_5{
    width: 500%;
}
.wid_6{
    width: 600%;
}
.wid_7{
    width: 700%;
}
#addEvent{
    background-color: white;
    border-radius: 50%;
    height:40px;
    position:relative;
    top:40px;
    left: 200px;
}

td>.placeholder{
    box-shadow: inset 0 0 20px black;
    background-color: transparent;
    border: none;
}


