body
{
 background-color: cyan;

}

#d
{
border:3px solid darkslategrey;
    border-radius: 20px;
    background-color: aliceblue;
    min-height: 100px;
text-align: center;
    width: 200px;
    position:absolute;
    top:40px;
    left:400px;
    visibility: hidden;
}

span
{
    display:block;
    padding-top: 20px;
    padding-bottom: 20px;
   text-align: center;
}

#but
{
    text-align: center;
}

