body{
    background-color: antiquewhite;
}
caption{
    width:1000px;
    background-color: aqua;
}
p{
    font-size: 50px;
}

table{
    border-collapse: collapse;

}

td{
    padding: 20px;
}

.time{
    font-weight: 500;
}

