body{
	background-color:  blue;
}


.button
{
	width:100px;
	height:50px;
	background-color: pink;

}

div{
	width:auto;
	height:100px;
	margin-top: 20px;
	background-color: white;
	border:3px solid grey;
}