catalog
{
   display:table;
    width:400px;
    height:300px;
    background-color: aquamarine;
    border-collapse: collapse;
    border:2px solid black;
}
row{
    display:table-row;
}
blok_1{
    display:table-cell;
    border:2px solid black;
}
blok_2{
    display:table;
    border-collapse: collapse;
    border:2px solid black;
    margin:0;
}

song_1{
    display:table-row;
}
song_2{
    display:table-row;
}
song_3{
    display:table-row;
}
song_4{
    display:table-row;
}

name_song_1{
    display: table-cell;
}
name_song_2{
    display: table-cell;
}
name_song_3{
    display: table-cell;
}
name_song_4{
    display: table-cell;
}

duration_time_1{
    display: table-cell;
}
duration_time_2{
    display: table-cell;
}
duration_time_3{
    display: table-cell;
}
duration_time_4{
    display: table-cell;
}