GAMES
{
    display: table;
    border: 1px solid black;
    border-collapse: collapse;
    width: 1000px;
}


game
{
    display: table-row;
    border: 1px solid black;
    border-collapse: collapse;
}

name
{
    display: table-cell;
    border: 1px solid black;
    border-collapse: collapse;
    vertical-align: top;
    padding-top: 10px;
}

description
{
    display: table-cell;
    border-top: 1px solid black;
    border-collapse: collapse;
    vertical-align: top;
    padding-top: 10px;
}

photo
{
    display: table-cell;
    border: 1px solid black;
    border-collapse: collapse;
    width: 175px;
    height: 250px;
    vertical-align: middle;
}

img1, img2, img3, img4, img5
{
    display: table-cell;
    vertical-align: middle;
}
img1
{
    content: url("../img/game1.jpg");
}

img2
{
    content: url("../img/game2.jpg");
}

img3
{
    content: url("../img/game3.jpg");
}

img4
{
    content: url("../img/game4.jpg");
}

img5
{
    content: url("../img/game5.jpg");
}
