body{
    width:500px;
    height:420px;
    background-color: aquamarine;
}

#d{
    width: 40px;
    height: 40px;
    position:absolute;
    top:50px;
    left:100px;
    visibility: visible;
}

img{
    width: 200px;
    height:200px;
}
.points{
    width:100px;
    height: 20px;
    position:fixed;
    top:10px;
    left: 20px;
    border:3px solid #8837ff;
    border-radius: 5px;
    background-color: #fcffcf;
    text-align: center;
}
.game_over{
    width:200px;
    height: 70px;
    text-align: center;
    font-size: 20px;
    border:5px solid #8837ff;
    border-radius: 8px;
    background-color: #fcffcf;
    position: fixed;
    top:30px;
    left: 350px;
}

/*.play_again{*/
    /*width:120px;*/
    /*height:30px;*/
    /*background-color: #d5a2ff;*/
    /*border:2px solid #8f0fff;*/
    /*border-radius: 5px;*/
/*}*/