label{
    display:block;
}

#d{
    width:800px;
    height:20px;
    background-color: aquamarine;
    margin-top: 10px;
    margin-bottom: 10px;
}

.my::-webkit-input-placeholder {
    color: #0dffa6;
    font-style: italic;
}

.focus {
    background: #fff190;
    outline: none;  /* убрать рамку */
}