﻿body {
    background-color: #23f088;
    height:100%;
    width:100%;
}
table{
    border:2px solid green;
    border-radius:10px;
    background-color:white;
}
td{
    width:150px;
    height:150px;
    border:2px solid grey;
    border-radius:10px;
    padding:5px;
}

img {
    width: 150px;
    height: 150px;
}
div{
    position:absolute;
    top:5px;
    left:400px;
}
#start{
    width:200px;
    height:50px;
    position:fixed;
    border:2px solid grey;
    border-radius:10px;
    top:50px;
    left:30px;
}
.div_buttons{
    float:left;
}
.hide{
    opacity:0;
}

