li{
    width:100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: aqua;
}

#d>.placeholder{
    box-shadow: inset 0 0 20px black;
    background-color: transparent;
    border: none;
}
