html, body{
    margin: 0;
    padding: 0;
    width: 1000px;
    height: 1000px;
}
.product{
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #c4defa;
}
.select{
    position: absolute;
    display: none;
    left: 80px;
    top: 0px;
    content: 'V';
    background-color: #ff570c;
    color: #fff;
    height: 20px;
    width: 20px;
    line-height:22px;
    text-align: center;

    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}



.cart{
    width: 100%;
    height: 200px;
    background: rgb(20, 199, 37);

}
