body{
    background-color: antiquewhite;
    width:100%;
    height:400px;
    padding:50px;

}
div{
       width: 30px;
       height: 30px;
       background-color: aqua;
       position:absolute;

   }

#first{
    top:50px;
    left:100px;
}

#second {
    top:50px;
    left:200px;
}
.active{
    background-color:red;
}