my_table{
    display:table;
    width:400px;
    height:200px;
    border-collapse: collapse;
    border: 1px solid black;
}
my_row{
    display:table-row;
}
my_td{
    display:table-cell;
    border-bottom: 1px solid black;

}
my_td_picture{
    width: 200px;
    display:table-cell;
    border-bottom: 1px solid black;
    background-image: url("../img/im.png");
}

my_td_name{
    display:table-cell;
    border-bottom: 1px solid black;
}

my_td_description{
    display:table-cell;
    border-bottom: 1px solid black;
}