catalog {
    display:table;
    width:400px;
    height:300px;
    background-color: aquamarine;
    border-collapse: collapse;
    border:2px solid black;
}
object{
    display:table-row;
}
name,address,type,create_date,number_flours,price{
    display:table-cell;
    border:2px solid black;
}
