.My_form{
    width: 210px;
    position: relative;
}
#arr1{
    position: absolute;
    top: 1px;
    right:3px;
    display: none;
}
#arr2{
    position: absolute;
    top: 40px;
    right:3px;
    display: none;
}