body {
    margin: 40px 10px;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}
header{
    margin:auto;
    text-align: center;
}
button {
    width: 100px;
    height: 30px;
    background-color: #1197C1;
    color:white;
    text-align: center;
    border-radius: 5px;
}
.more {
    color: grey;
    position: absolute;
    bottom: 3px;
    left: 85px;
    text-decoration: none;
}
.number{
    position: absolute;
    bottom: 3px;
}
#p,#month,#n{
    display:inline-block;
    padding: 20px;
   
}
#month{
    width:200px;
}
#wr {
    max-width: 900px;
    margin: 0 auto;
    min-height: 500px;
    padding-left: 100px;
    padding-right: 100px;
}
.myTable{
    border-collapse: collapse;
    border: 2px solid #205a80;
}
.tableCaption{
    background-color: white;
}
.captionTr {
    width: 200px;
    height: 30px;
    border: 1px solid gray;
    text-align: center;
    font-weight: bold;
    background-color: white;
}
.bodyRow{
    text-align: right;
}
.bodyTd{
    position: relative;
    height:120px;
    width:100px;
    background-color: white;
    text-align: left;
    border: 1px solid grey;
}
/*.active{
    background-color: lightgray;
}*/

.circle {
    width: 50px;
    height: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: #1197C1;
    color: white;
    position: absolute;
    top: 50px;
    left: 1200px;
    font-size: 40px;
}


#id_wrapper {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid grey;
    border-radius: 10px;
    padding: 60px;
    display: none;
    background-color:white;
    color: black;
}
#div_more{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    width:300px;
    height: 250px;
    transform: translate(-50%, -50%);
    border:1px solid grey;
    border-radius: 10px;
    padding: 60px;
    display:none;
    background-color: white;
    color:black;
}
#date_more{
    text-align: center;
}
.shadow{
    display: none;
}

.formTd{
    padding: 10px;
}


.eventDiv0 {
    position: absolute;
    top: 3px;
    left: 0px;
    background-color: #1197C1;
    color:white;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 100;
}
.eventDiv1 {
    position: absolute;
    top: 30px;
    left: 0px;
    background-color: #1197C1;
    color: white;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 100;
}

.eventDiv2 {
    position: absolute;
    top: 55px;
    left: 0px;
    background-color: #1197C1;
    color: white;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 100;
}

.wid_1{
    width:100%;
}
.wid_2{
    width: 200%;
}
.wid_3{
    width: 300%;
}
.wid_4{
    width: 400%;
}
.wid_5{
    width: 500%;
}
.wid_6{
    width: 600%;
}
.wid_7{
    width: 700%;
}
#addEvent {
    background-color: #1197C1;
    color: white;
    border-radius: 50%;
    height: 40px;
    position: relative;
    top: 40px;
    left: 200px;
}

td>.placeholder{
    box-shadow: inset 0 0 20px black;
    background-color: transparent;
    border: none;
}

.show_more{
    position:absolute;
    left: 100px;
    bottom: 3px;
    width:50px;
    height:20px;
    background-color:white ;
    border:none;
    display:none;
}

.more_event_div {
    width: 300px;
    height: 30px;
    color: white;
    background-color: #1197C1;
    border-radius:5px;
    margin: 5px;
}
#x {
    position: absolute;
    top: -5px;
    left: 350px;
    color: #1197C1;
    border: none;
    background-color: transparent;
    font-size: 50px;
}
.current {
    background-color: #fcf8e3;
}
.ui-resizable-helper {
    border: 2px dotted #00F;
}