.overlay
{
    width: 100%;
    height: 100%;
    background-color: rgba(157, 164, 255, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.add_event
{
    position: fixed;
    width: 500px;
    height: 300px;
    border-radius: 3px;
    background-color: white;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    z-index: 1001;
    overflow: auto;
    text-align: left;
    padding: 5px;
}

.add_event>span{
    font-weight: bold;
}

.add_event>img
{
    position: fixed;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    margin-top: -170px;
    margin-left: 255px;
}

.add_event form{
    margin: 30px 0 0 100px;
}

.add_event form>input[type="submit"]{
    width: 100px;
    height: 30px;
    margin: 10px 0 0 165px;
}


form[name="add_event"] textarea{
    width: 168px;
}
form[name="add_event"] input{
    width: 170px;
}

form[name="add_event"] label{
    font-family: 'Coming Soon', cursive;
}

.required{
    width: 50px;
    height: 25px;
}